@font-face {
    font-family: "Google Sans";
    src: url("GoogleSans-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Google Sans";
    src: url("GoogleSans-Bold.ttf");
    font-weight: bold;
}